$linkColor: #ffff78;
$hoverColor: #fff;
.repeatable-element-container.locations {
    .map {
        width: 100%;
        min-height: 500px;
    }
    @media only screen and (min-width: 768px) {
        display: flex;
        flex-direction: row;
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            display: block;
            position: relative;
            min-height: 200px;
            @media only screen and (min-width: 768px) {
                min-width: 320px;
                max-width: 320px;
            }
            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(255,255,255,0.3);
                opacity: 0;
                transition: all .5s ease-in-out;
            }
            .caption {
                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(255,255,255,0.3);
                    opacity: 0;
                    transition: all .5s ease-in-out;
                }
                .caption-content {
                    position: relative;
                    z-index: 2;
                }
            }
            &:hover {
                cursor: hand;
                cursor: pointer;
                &::after {
                    opacity: 1;
                }
                .caption {
                    &::after {
                        /* opacity: 1; */
                    }
                }
            }
            img {
                width: 100%;
            }
            .caption {
                position: absolute;
                bottom: 0;
                left: 0;
                text-align: center;
                width: 100%;
                padding: 16px;
                padding-top: 64px;
                background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
                background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
                background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
                color: #FFF;
                h4 {
                    font-weight: 700;
                }
                a {
                    color: $linkColor;
                    &:hover {
                        color: $hoverColor;
                    }
                }
            }
        }
    }
}